version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: guestuser
      MYSQL_DATABASE: guestbook
      MYSQL_PASSWORD: guest1234
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 10s
      retries: 20
      start_period: 60s
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    image: choiminhyeok/backend-app:latest
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/guestbook
      SPRING_DATASOURCE_USERNAME: guestuser
      SPRING_DATASOURCE_PASSWORD: guest1234

  frontend:
    image: choiminhyeok/frontend-app:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql_data:

