spring:
  application:
    name: guestbook

  datasource:
    url: jdbc:mysql://mysql:3306/guestbook
    username: guestuser
    password: guest1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true