name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: choiminhyeok/frontend-app:latest
          build-args: |
            NEXT_PUBLIC_API_URL=http://backend:8080

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: choiminhyeok/backend-app:latest
          
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo yum install git -y
            rm -rf ~/guestbook
            # 기존 컨테이너 정리
            cd ~/guestbook 2>/dev/null && docker compose down || true
            rm -rf ~/guestbook
            git clone https://minhyeok-code:${{ secrets.PAT_KEY }}@github.com/minhyeok-code/guestbookrepo.git ~/guestbook
            cd ~/guestbook
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" > .env
            docker pull choiminhyeok/backend-app:latest
            docker pull choiminhyeok/frontend-app:latest
            docker compose -f docker-compose.prod.yml up -d
